/*
====================================
    Layout
====================================
*/

/*general*/

body{
    margin: 0px;
    overflow: auto;
}

.lateral-space{
    width: 15vw;
}

.main-container,
.hero,
.information,
.mantra,
.sign-up,
.footer,
.hero-main-content,
.hero-header,
.header-links,
.information-content,
.information-samples,
.sample{
    display: flex;
}

.hero,
.information,
.mantra,
.sign-up{
    height: 80vh;
    flex:1 0 auto;
}

.main-container{
    flex-direction: column;
}

/*hero layout*/

.hero-content{
    margin-top: 3vh;
    flex: 2 1 auto;
}

.hero-header{
    margin-bottom: 15vh;
}

.hero-main-content{
    gap: 2vw;
    width:70vw;
}

.header-links{
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*information layout*/

.information-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2 1 auto;
}

.information-title{
    margin-bottom: 10vh;
}

.information-samples{
    gap: 3vw;
}

.sample{
    flex-direction: column;
    text-align: center;
}


/*footer*/

.footer{
    height: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

/*
====================================
    Colors, images and fonts
====================================
*/

/*General*/

body{
    font-family: 'Roboto', sans-serif;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}
p{
    margin-top: 0;
    margin-bottom: 1.5vh;
}

/*Hero*/

.hero{
    background: #1f2937;
}

.placeholder-logo{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-placeholder-image{
    width: 40vw;
    height: 40vh;
}

.hero-text{
    width: 30vw;
    height: 40vh;
    color: #e5e7eb;
}

.hero-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-description{
    font-size: 18px;
}

.hero-button{
    border: 0;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
}

/*Information*/

.information{
    background: #f0f0f0;
}

.sample{
    width: 10vw;
}

.sample-image{
    width: 10vw;
    border: solid 5px #3882f6;
    border-radius: 15px;
}

.information-title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

/*Mantra*/

.mantra{
    background: #e5e7eb;
}

/*Sign-up*/

.sign-up{
    background: #f0f0f0;
}

/*Footer*/

.footer{
    background:#1f2937;
    color:#e5e7eb;
    text-align: center;
}



